{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Лабораторная работа 2</h1>
    
    <h2>Список всех роутов:</h2>
    <ul>
        <li><a href="/lab2/example">Пример с фруктами</a></li>
        <li><a href="/lab2/filters">Фильтры Jinja2</a></li>
        <li><a href="/lab2/a">Простой роут A</a></li>
        <li><a href="/lab2/add_flower/роза">Добавить цветок (пример)</a></li>
        <li><a href="/lab2/flowers">Все цветы</a></li>
        <li><a href="/lab2/flowers/0">Первый цветок</a></li>
        <li><a href="/lab2/flowers/clear">Очистить список цветов</a></li>
        <li><a href="/lab2/calc/">Калькулятор</a></li>
        <li><a href="/lab2/books">Список книг</a></li>
        <li><a href="/lab2/dogs">Породы собак</a></li>
    </ul>
{% endblock %}