{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Оплата</h1>

    <div>
        Сумма к оплате: <strong>{{ price }} руб.</strong>
    </div>

    <form action="/lab3/success">
        <div style="margin-top: 15px;">Номер банковской карты:</div>
        <label>
            <input type="text" name="card" pattern="\d{16}" placeholder="1234567812345678">
        </label>

        <div style="margin-top: 15px;">Имя держателя карты:</div>
        <label>
            <input type="text" name="name" placeholder="Иван Иванов">
        </label>

        <div style="margin-top: 15px;">Номер CVV:</div>
        <label>
            <input type="text" name="cvv" size="3" pattern="\d{3}" placeholder="123">
        </label>

        <div style="margin-top: 20px;">
            <button type="submit">Оплатить</button>
            <a href="/lab3/order" style="margin-left: 15px;">Отказаться</a>
        </div>
    </form>
{% endblock %}