{% extends "base.html" %}

{% block lab %}Публичные статьи{% endblock %}

{% block main %}
    <h1>Публичные статьи</h1>
    
    {% if articles %}
        {% for article in articles %}
        <div class="article">
            <h2>{{ article['title'] }}</h2>
            <div class="meta">
                Автор: {{ article['author'] }} | 
                Лайков: {{ article['likes'] }} |
                {{ '⭐ Избранная' if article['is_favorite'] else '' }}
            </div>
            <div class="text">
                {{ article['article_text'] | replace('\r\n', '<br>') | safe }}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Публичных статей пока нет.</p>
    {% endif %}
    
    <p><a href="/lab5">На главную</a></p>
{% endblock %}